---
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE } from '../utils/constants'

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <main class="min-h-[calc(100vh-7rem)] pb-14 pt-14 w-full">
      <div class="w-full max-w-3xl mx-auto pt-6">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
