---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'posts'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<article>
  <div class="hero-image">
    {
      heroImage && (
        <Image
          class="w-full bg-[#e3dacc] aspect-video object-cover"
          src={heroImage}
          alt=""
        />
      )
    }
  </div>
  <div class="prose">
    <div class="title">
      <div class="text-sm">
        <h1 class="text-3xl font-medium pt-6 pb-4">{title}</h1>

        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <div class="w-full border-b my-6"></div>
    </div>
    <slot />
  </div>
</article>
